@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap');
body{
    background-color: hsl(54, 81%, 69%);
}
h1{
    font-family: 'Butterfly Kids', 'Cambria, Cochin', Georgia, Times, 'Times New Roman', serif ;
    font-size: 2.5rem;
}
.img{
    margin-left: 42%;
}
.otra{
    margin-left: 35%;
}
#actividad{
    text-align: center;
    font-size: 5rem;
}
.espe{
    margin-left: 0%;
}
p{
    font-size: 1.5rem;
}
h2{
    text-align: center;
}
h6{
    margin-left: 47%;
}
h4{
    margin-left: 46%;
    font-size: 25px;
}
.h4dif{
    font-size: 25px;
    margin-left: 0%;
}
.ss{
    margin-left: 23%;
}

